bs4
python-dotenv
requests
pdfplumber
tqdm
python-docx
openpyxl
spacy
networkx
faiss-cpu
sentence-transformers
google-generativeai
streamlit
selenium
webdriver-manager
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl